.motosusuki{
    text-decoration:dashed ;
    color:blue;
    background-color: aqua;
}
footer {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100%;
    bottom: 0;
    
}
p{
   
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: normal;

   
}
h4{
    color:brown;
}
